.todoCard {
  transition: all 0.2s !important;
}

.todoCard:hover {
  padding: 20px 0;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.iconButton {
  transition: all 0.2s !important;
}

.iconButton:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
